body {
  background-image: url('/img/background.jpg');
  color: white;
}

th, td {
  width: 20%;
}

a {
  color: white;
  text-decoration: underline;
}

/* label color */
.input-field label {
  color: #fafafa;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #f50057;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #f50057;
  box-shadow: 0 1px 0 0 #78909c;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #f50057;
}
